.vscode
.idea
.aws
.kube
.bash_history
.config
.rules/
.working/
.aws/
.kube/
.pytest_cache/
.ruff_cache/
.terraform.d
.terraform
*.tfplan
*.tfplan.json

testvenv/

env-local.mk
app/test/docker-compose.yaml
app/test/*.log
app/test/ci.env
app/bk.env

app/cmd/.venv
app/cmd/local.env
app/cmd/local.env.docker
app/cmd/.pytest_cache
app/cmd/.coverage
app/cmd/pyapp/__pycache__
app/cmd/reports

data/logs
.env
app/cmd/pyapp/util/__pycache__
data/auth

backup/config.conf
backup/logs
app/cmd/pyapp/model/__pycache__/
