{% if mobile %}
{% extends "layout_mobile.html" %}
{% else %}
{% extends "layout.html" %}
{% endif %}

{% block content %}

<style>
  a {
    color: var(--bs-table-color);
    text-decoration: none; /* no underline */
  }
  .ag-theme-quartz-auto-dark {
    height: calc(100vh - 260px);
    --ag-font-size: 16px;
    --ag-font-family: var(--bs-body-font-family);
    --ag-grid-size: 5px;
    --ag-list-item-height: 20px;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
<!-- <script src="./static/js/dialog_result.js"></script> -->

<!-- <center><h4>Head to Head</h4></center> -->

<form method="get" _lpchecked="1" id="myform">
  <fieldset>

<div class="form-group row">

    <!--<div class="col-3" style="width:140px">
      <label class="form-label">Search:</label>
      <div class="ui input">
        <input name="search" type="text" placeholder="Search" value="{{ search or '' }}" style="width:120px">
      </div>
    </div> -->

  <div class="col-3" style="width:150px">
    <div class="form-outline">
      Period:
      <select class="form-control" name="period" onchange="this.form.submit()">
        <option>Last 14 Days</option>
        <option selected="selected">Last 30 Days</option>
        <option>Last 90 Days</option>
        <option>Last Year</option>
      </select>
    </div>
  </div>

  <!-- <div class="col-3" style="width:160px">
    <div class="form-outline">
      Player:
      <select class="form-control" name="player" onchange="this.form.submit()">
      </select>
    </div>
  </div> -->

  <div class="col-3" style="width:160px">
    <div class="form-outline">
    Player:
      <div class="btn-group dropright" role="group" style="margin-bottom:2px;">
      <button id="player_btn" type="button" style="width:250px;margin-right:10px;" class="btn {{ theme.BUTTON_CLASS }} dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu" aria-labelledby="btnGroupLoginType" id="player"></div>
    </div>
  </div>
  </div>

  <!-- <div class="col-3" style="width:160px">
    <div class="form-outline">
      Rank By:
      <select class="form-control" name="method" onchange="this.form.submit()">
        <option selected="selected">Weighted Wins</option>
        <option>Win/Loss</option>
      </select>
    </div>
  </div>

  <div class="col-8">
    <div class="form-outline">
      &nbsp;
      <div id="method_text" style="font-size:15px;color:var(--bs-yellow);margin-top:7px"></div>
    </div>
  </div> -->


  <!-- <div class="col-3" style="width:150px">
    <div class="form-outline">
      Level: 
      <select class="form-control" name="level" onchange="this.form.submit()">
        <option selected="selected">ERROR</option>
        <option>WARNING</option>
        <option>INFO</option>
        <option>ALL</option>
      </select>
    </div>
  </div> -->

  <div class="col-1">
     <button type="submit" class="btn {{ theme.BUTTON_CLASS }}" name="action" value="refresh" style="visibility:hidden;">Refresh</button>
  </div>
</div>
</fieldset>
</form>

<div class="form-group row">
  <div class="col-12">
    <div class="card {{ theme.CARD_CLASS }} mb-2" style="width:auto">
      <!-- <div class="card-header">Completed</div> -->
      <div class="card-body">
        <div id="head_to_head_table" class="ag-theme-quartz-auto-dark"></div>
      </div>
    </div>
  </div>
</div>

<script>

var default_period = "Last 30 Days";
var gridAPI = null;

t_player_id = "{{ username_full }}";

function update_select_local_player(t_control, t_user, t_id) {
  $(t_control).html(t_user);
  t_player_id = t_id;
  load_grid()
}

function init_controls() {
    objSelect = document.getElementById("myform").period;
    select = "{{ period or 'Last 30 Days' }}";
    setSelectedValue(objSelect, select);
    d3.json("api/users", {
      method:"POST",
      body: {},
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    }).then( function(data_json) {
      {
        var select = document.getElementById("player");
        select.innerHTML = "";
        for (val in data_json) {
          select.innerHTML += "<a class=\"dropdown-item\" href=\"#\" onclick=\"update_select_local_player('#player_btn','" + data_json[val]['username'] + "','" + data_json[val]['user_name_full'] +"')\" >" + data_json[val]['username'] + "</a>";
        }
      }
      $('#player_btn').html("{{ username_formatted }}");
    });
}

function render_grid() {
  
  $("#head_to_head_table").attr('visible','false');

  // setup the grid after the page has finished loading
  document.addEventListener('DOMContentLoaded', () => {
    load_grid();
  });
}

function load_grid() {

  if ( gridAPI ) {
    gridAPI.destroy();
    gridAPI = null;
  }


  const columnDefs = [
    { field: "opponent", headerName: "Opponent", width: 300 },
    { field: "wins", headerName: "Wins", width: 100 },
    { field: "losses", headerName: "Losses", width: 100 },
    { field: "result", headerName: "Overall", width: 100 },
  ];

  // let the grid know which columns and what data to use
  const gridOptions = {
    defaultColDef: {
      resizable: false,
      sortable: false,
    },
    columnDefs: columnDefs,
    rowData: null,//rowData,
    onGridReady: (params) => {
      const urlParams = new URLSearchParams(window.location.search);
      //p_method = urlParams.get('method');
    },
    //onFirstDataRendered: onFirstDataRendered,
  };

  const gridDiv = document.querySelector('#head_to_head_table');
  gridAPI = agGrid.createGrid(gridDiv, gridOptions);

  const urlParams = new URLSearchParams(window.location.search);
  p_period = urlParams.get('period');
  p_username = urlParams.get('username');

  if ( p_period == null ) {
    p_period = default_period;
  }

  t_start = get_start_time(p_period)

  if ( p_username == null ) {
    p_username = t_player_id;
  }

  request = { 
    start_time: formatDate(t_start),
    username: p_username
  };

  console.log(request);

  d3.json("api/head_to_head", {
    method:"POST",
    body: JSON.stringify(request),
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  }).then( function(data) {
    gridAPI.setGridOption("rowData", data);
    $("#head_to_head_table").css('visibility', 'visible');
    $("#head_to_head_table").show();
  });
};

init_controls();
render_grid();

// global variable
var page="head_to_head";

$('#head_to_head').addClass('active');

</script>


{% endblock %}