{% extends "layout_simple.html" %}

{% block content %}        

<div id="main_content">

<div class="card border-primary mb-3">
        <br>
        <center><h3 class="card-title" style="color:white">Privacy Policy</h3></center>
    <div class="card-body">
        <p><i>Effective date: 2024/6/1</i></p>

<p>Our website www.mannubis.info (the &quot;Site&quot;) and mobile App is committed to protecting the privacy of its users. This Privacy Policy explains how we collect, use, and disclose information about visitors to our Site.</p>

<H4>Information we collect</H4>

<p>We may collect personal information that you provide to us, such as your name and email address, when you sign up through our Site and App. We may also collect non-personal information about your use of our Site an App, such as the pages you visit and the links you click on, through the use of cookies and other tracking technologies.</p>

<H4>How we use the information we collect</H4>

<p>We may use the personal information we collect to analyze how our Site and App is used, to improve and to personalize your experience.</p>

<H4>Security</H4>

<p>We take reasonable measures to protect the personal information we collect from unauthorized access, disclosure, and alteration. However, no data transmission over the internet is guaranteed to be 100% secure, and we cannot guarantee the security of any information you transmit to us.</p>

<H4>Changes to this Privacy Policy</H4>

<p>We may update this Privacy Policy from time to time by posting a new version on our Site. We encourage you to review this Privacy Policy periodically for any changes.</p>

</div>
</div>

<div class="card border-primary mb-3">
        <br>
        <center><h3 class="card-title" style="color:white">Cookie Policy</h3></center>
    <div class="card-body">

        <p>Effective date: 2024/3/1</p>

        <p>Our website www.mannubis.info (the &quot;Site&quot;) uses cookies to enhance your experience and to improve our Site. This Cookie Policy explains what cookies are, how we use them, and your choices regarding cookies.</p>
        
        <H4>What are cookies?</H4>
        <p>Cookies are small text files that are placed on your device when you visit a website. They are widely used to make websites work or to work more efficiently, as well as to provide information to website owners.</p>
        
        <H4>How we use cookies</H4>
        <p>We use cookies to: 
                <br>- Login to our website. 
                <br>- Improve the performance of our Site. 
                <br>- Understand how our Site is being used and to personalize your experience.</p>
        
        <p>We use both session cookies and persistent cookies on our Site. Session cookies are temporary cookies that are erased when you close your browser, while persistent cookies remain on your device after you close your browser.</p>
        
        <H4>Third-party cookies</H4>
        <p>We may also use third-party cookies on our Site, including but not limited to Google Analytics. These cookies are used to collect information about your use of our Site, such as your IP address, the pages you visit, and the links you click on. This information is used to analyze how our Site is being used and to improve our Site.</p>
        
        <H4>Your choices</H4>
        <p>Most web browsers allow you to control cookies through their settings preferences. However, please note that disabling cookies may affect your ability to use certain features of our Site. You can also opt-out of Google Analytics by installing the Google Analytics opt-out browser add-on, which can be found at: https://tools.google.com/dlpage/gaoptout.</p>
        
        <H4>Changes to this Cookie Policy</H4>
        <p>We may update this Cookie Policy from time to time by posting a new version on our Site. We encourage you to review this Cookie Policy periodically for any changes.</p>
        
</div>
</div>
</div>

{% endblock %}