{% extends "layout_simple.html" %}

{% block content %}        

<div id="main_content">

<div class="card border-primary mb-3">
        <br>
        <center><h3 class="card-title" style="color:white">Terms of Service</h3></center>
    <div class="card-body">
        <p><i>Effective date: 2024/6/1</i></p>
By using our app, you agree to be bound by these terms of service.
<br><br>
<H4>1. Acceptance of Terms</H4>
These terms and conditions ("Terms") govern your use of our web application (the "App"). By using the App, you agree to these Terms. If you do not agree, please do not use the App.
<br><br>
<H4>2. Use of the App</H4>
a. The App is provided for your personal, non-commercial use only. You may not use the App for any illegal or unauthorized purpose.<br>
b. We reserve the right to modify, suspend, or discontinue the App at any time without notice.
<br><br>
<H4>3. User Conduct</H4>
a. You agree not to use the App to interfere with or disrupt the App or its servers<br>
b. We reserve the right to terminate or restrict your access if we believe you are violating these Terms.<br>
<br>
<h4>4. Intellectual Property</h4>
The App and its content are owned by us and protected by intellectual property laws. You may not modify, copy, or create derivative works from the App.
<br><br>
<h4>5. Third-Party Services</h4>
The App may contain links to third-party websites or applications. We are not responsible for their availability, content, or practices.
<br><br>
<H4>6. Disclaimer of Warranties</H4>
The App is provided "as is" without warranties of any kind. We do not guarantee the App will be uninterrupted or error-free.
<br><br>
<H4>7. Limitation of Liability</H4>
We shall not be liable for any indirect, special, or consequential damages related to your use of the App.
<br><br>
<H4>8. Modifications to the Terms</H4>
We reserve the right to modify these Terms at any time. Your continued use of the App after any changes constitutes acceptance of the new Terms.


</div>
</div>

</div>

{% endblock %}