# For local development
DATA_FOLDER="/home/console/src/projects/evandus-uc-coach/data"

DEPLOYMENT_MODE="production"
LOGIN_MODE="basic_auth"

ACCESS_SECRET=""

MESSAGE_SERVICE_HOST=""

APP_HOST_URL="/olympia"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""